#env
.env
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.DS_Store

# Django stuff:
*.log

# .pytest_cache/
.pytest_cache/
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

data
*.sql